# URLs de deploy publicadas em Azure
EXPO_PUBLIC_AUTH_API_URL=https://app-offpay-auth-rm559728.azurewebsites.net
EXPO_PUBLIC_SALES_API_URL=https://app-offpay-sales-rm559728.azurewebsites.net
EXPO_PUBLIC_PAYMENT_API_URL=https://app-offpay-payment-rm559728.azurewebsites.net
EXPO_PUBLIC_ANALYTICS_API_URL=https://app-offpay-analytics-rm559728.azurewebsites.net

# Se a build for apontar para ambiente local, troque pelas URLs abaixo:
# EXPO_PUBLIC_AUTH_API_URL=http://SEU_IP_LOCAL:8081
# EXPO_PUBLIC_SALES_API_URL=http://SEU_IP_LOCAL:8082
# EXPO_PUBLIC_PAYMENT_API_URL=http://SEU_IP_LOCAL:8083
# EXPO_PUBLIC_ANALYTICS_API_URL=http://SEU_IP_LOCAL:8084

# Exemplo para emulador Android:
# EXPO_PUBLIC_AUTH_API_URL=http://10.0.2.2:8081
# EXPO_PUBLIC_SALES_API_URL=http://10.0.2.2:8082
# EXPO_PUBLIC_PAYMENT_API_URL=http://10.0.2.2:8083
# EXPO_PUBLIC_ANALYTICS_API_URL=http://10.0.2.2:8084
